
SengokuProvider.Worker/appsettings.json
SengokuProvider.Worker/bin/Debug/net8.0/appsettings.Development.json
SengokuProvider.Worker/bin/Debug/net8.0/appsettings.json
SengokuProvider.Worker/appsettings.Development.json
/SengokuProvider.Library/obj
/SengokuProvider.Library/bin/Debug/net8.0
/SengokuProvider.Worker/bin/Debug/net8.0
/SengokuProvider.Worker/obj
/SengokuProvider.API/DevNotes.txt
/SengokuProvider.API/Properties/ServiceDependencies/sengoku-alexandria-qa - Zip Deploy/profile.arm.json
/SengokuProvider.Library/bin/Release/net8.0/SengokuProvider.Library.deps.json
/SengokuProvider.Library/bin/Release/net8.0/SengokuProvider.Library.dll
/SengokuProvider.Library/bin/Release/net8.0/SengokuProvider.Library.pdb
/SengokuProvider.Library/bin/QA/net8.0
/SengokuProvider.Worker/Properties
/SengokuProvider.Worker/bin/Release/net8.0
/SengokuProvider.Worker/SengokuProvider.Worker.csproj.user
/SengokuProvider.Worker/Settings.job
/ExcluSightsLibrary/bin/Debug/net8.0
/ExcluSightsLibrary/obj
